<h3>Nova Categoria:</h3>
<form action="/admin/categoria/nova" method="post">
    <label for="text">Nome:</label>
    <input type="text" name="nome" id="nome" placeholder="Informe o nome da categoria">
    <label for="text">Slug:</label>
    <input type="text" name="slug" id="slug" placeholder="Slug da categoria">
    <button type="submit">Criar nova categoria</button>
</form>