<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Blog Admin</title>
</head>
<body>
    <header>
      
      <nav>
        <a>Home</a>
        <a>Service</a>
        <a>About</a>
      </nav>

    </header>
    <main>Principal</main>
    <aside>Relacionado</aside>
    <footer>Rodapé</footer>
  </body>
</html>


  

