<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Blog - App</title>
</head>
<body>
    <header>
      
      <nav>
        <li>Home</li>
        <li>Service</li>
        <li>About</li>
      </nav>

    </header>
    <main>
      <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    </main>
    <aside></aside>
    <footer>Rodapé</footer>
  </body>
</html>


  

