*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* 
header {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("imagem/Relogio.jpg") no-repeat;
    background-position: bottom;
    background-size: cover;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    display: flex;
} */

body{
    display: flex;
    flex-wrap: wrap;
}

.headermenu{
 display: flex;
 width: 100vw;
 justify-content: space-between;
 align-items: center;
 background-color: #eee;
}

header,nav,main,aside, footer{
    display: flex;
    background-color: #eee;
    margin: 4px;
}



header{
    flex: 1 1 100vw;
    height: 400px;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: inherit;
}

nav{
 margin-right: 50px;
}

nav a{
    margin: 20px;
    font-size: 17pt;
}

.logo{
    margin-left: 50px;
}

main{
flex-wrap: wrap;
flex: 1 1 100vw;
min-height: calc(100vh - 424px);
}

.ListCard{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
     justify-content: center;
    align-items: center;
}

.card{
    width: 280px;
    height: 200px;
    background-color: blue;
    margin: 20px;
    border-radius: 7px;
    cursor: pointer;
}

.card:hover{
scale: 1.1;
}

aside{
flex-wrap: wrap;
flex: 1 1 100vw;
min-height: 200px;
}

.CardFunc{
    display: flex;
    width: 100%;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
}

.CardFunc .card{
    width: 430px;
    height: 300px;
}

.CardDepo{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
    color: #fff;
    
}

.ListPlan{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 60px;

    & h2{
        flex: 1 1 100vw;
        margin: 20px;
    }
}

.CardPlan{
    width: 380px;
    height: 500px;
    background-color: blue;
    margin: 15px;
    border-radius: 13px;
}

.ListPlan #alto{
    scale: 1.1;
    border: 5px solid white;

}

footer{
 flex: 1 1 100vw;
 height: 100px;
 justify-content: center;
 align-items: center;
  
 & p{
    margin: 9px;
 }
}