.principal{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

main{
    height: calc(100vh - 100px);
}

.formulario{
    width: 400px;
    margin-top: -310px;

    & h3{
        border: 2px solid #fff;
        width: 95%;
        margin-bottom: 9px;
        padding: 6px;
    }
}

.formulario form{
    width: 95%;
    border: 2px solid #fff;
    padding: 10px;
}

.formulario input{
    width: 100%;
    height: 45px;
    margin-bottom: 9px;
    border-radius: 5px;
    border: 1px solid rgb(158, 158, 248);
    outline: none;
    background-color: whitesmoke;
}

.formulario button{
    width: 100%;
    height: 45px;
    background-color: rgb(25, 25, 243);
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.listError{
    width: 80%;
    height: 150px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: -130px;
    margin-bottom: 0px;
}

.error{
    width: 70%;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 99, 99);
    border-radius: 6px;
    text-align: center;
    color: #fff;
}