*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


main{
flex: 1 1 100vw;
min-height: calc(100vh - 150px);
justify-content: center;
align-items: center;
flex-wrap: wrap;
}

.title{
    display: flex;
    justify-content:space-between;
    /* margin-left: 7%; */
    width: 80%;

    & button{
        padding: 12px;
        background-color: rgb(25, 25, 243);
        color: #fff;
        border: none;
        border-radius: 6px;
        cursor: pointer;
    }
}


.listCategoria{
 background-color:white;
 border-radius: 9px;
 width: 80%;
 height: 90%;
 display: flex;
 flex-wrap: wrap;
 overflow-y: auto;
 max-height: 500px;

}

.cate{
    display: flex;
    height: 95px;
    width: 100%;
    border: 1px solid #eee;
    margin: 20px;
    border-radius: 9px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    & small{
        flex: 1 1 100vw;
        
    }
}

.buttonfunc, .list{
    padding: 10px;
}

footer{
 flex: 1 1 100vw;
 height: 100px;
}