<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Blog - App</title>
  </head>
  <body>
    <%- include('../partial/header.ejs') %>
    <header>
    </header>

    <main>
      <div class="ListCard">
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
      </div>
    </main>

    <aside>
      <div class="CardFunc">
        <div class="card"></div>
        <div class="desc">qwehjqfbqurfqifrukqfrsifbqluj</div>
      </div>

      <div class="CardDepo">
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
      </div>

      <div class="ListPlan">
        <h2>Nossos Planos</h2>
        <div class="CardPlan"></div>
        <div id="alto" class="CardPlan"></div>
        <div class="CardPlan"></div>
      </div>
    </aside>

      <%- include('../partial/footer.ejs') %>
  </body>
</html>
