<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/admin/style.css" />
  <title>Categoria</title>
</head>
<body>
   <%- include ('../../partial/header.ejs') %>

  
   
  <main>
    <div class="categorias"></div>
    <div class="title">
      <h2>Lista de Categorias</h2>
        <a href="/admin/categoria/add"><button>Nova Categoria</button></a>
    </div>

    <div class="listCategoria">
      <% categorias.map((dados) => { %>
        <div class="cate"><%= dados.nome %> <br> <small><%- dados.slug %></small></div>
      <% }) %>
      
    </div>

   </div>
  </main>

 <%- include ('../../partial/footer.ejs') %>
</body>
</html>

