<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/admin/style.css" />
    <title>Blog - App</title>
  </head>
  <body>
    <%- include ('../../partial/header.ejs') %>

    <main>

    </main>

    <footer>Rodapé</footer>
  </body>
</html>

  

