<% include ../partial/header %>
    <header>
      
      <nav>
        <a>Home</a>
        <a>Service</a>
        <a>About</a>
      </nav>

    </header>

    <main>Principal</main>

    <aside>Relacionado</aside>
    
<% include ../partial/footer %>


  

